{% extends 'base.html' %}
{% block title %}
Search story
{% endblock %}

{% block content%}

<form class="form-inline " action="" method="POST">

	{% csrf_token %}
	<div class="row">
		<div class="col">
			{{ form.name }}
		</div>
		<div class="col">
			{{ form.data_from }}
		</div>
		<div class="col">
			{{ form.data_to }}
		</div>
		<div class="col-auto">
			<button type="submit" class="btn btn-warning pr-3 ">Check</button>
		</div>
	</div>
</form>
<table class="table table-bordered table-dark">
	<thead class="thead-dark ">
		<tr>
			<th scope="col">ID</th>
			<th scope="col">City name</th>
			<th scope="col">Date of creation</th>
			<th scope="col">Weather</th>
		</tr>
	</thead>
	<tbody>
		{% for info in page_obj %}
		<tr>
            <th scope="col">{{ info.id }}</th>
			<th scope="col">{{ info.name }}</th>
			<th scope="col">{{ info.data }}</th>
			<th scope="col">
                <div class="container">
                    <p class="text-left"><strong>Temp: </strong>{{ info.temp }}</p>
                    <p><strong>Feels like:</strong> {{ info.feels_like }}</p>
                    <p> <strong>Min: </strong> {{ info.temp_min }} <strong> Max:</strong> {{ info.temp_max }}</p>
                    <img src="http://openweathermap.org/img/w/{{ info.icon }}.png">
                </div>

            </th>
			{{ info }}
		</tr>
		{% endfor %}
	</tbody>
</table>
<nav aria-label="">

	<ul class="pagination justify-content-center">
		{% if page_obj.has_previous %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.previous_page_number}}">Previous</a>
		</li>
		{% endif %}
		{% for page in page_obj.paginator.page_range %}
		<li class="page-item  {% if page_obj.number == page %} disabled {% endif %}">
			<a href="?page={{ page }}" class="page-link">{{ page }}</a>
		</li>
		{% endfor %}
		{% if page_obj.has_next %}
		<li class="page-item">
			<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
		</li>
		{% endif %}
	</ul>

</nav>
<script type="text/javascript">
		$(function() {
			$('.datepicker').datepicker({
				format: 'yyyy-mm-dd',
			})
		});
	</script>
{% endblock %}

